<!doctype html>
<html>
    <head>
        <title>FreeKiss - Export</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../Styles/FreeKiss/Options.css">
        <link rel="stylesheet" href="../Styles/FreeKiss/Export.css">
    </head>
    <body>
        <div id="navigation">
            <div id="title">
                <img src="../Images/Icons/FreeKissTitle.png" width="220px" />
            </div>
            <ul>
                <li><a href="Options.html">Advanced Options</a></li>
                <li class="selected"><a href="#">Export Bookmarks</a></li>
                <li><a href="Patchnotes.html">Patchnotes</a></li>
            </ul>
        </div>

        <div id="content">
            <h1>Export bookmarks</h1>
            <hr/>
            <h2 class="exportTitle">Choose export format</h2>
            <div id="formats">
                <img class="fk-imgLoader fk-hide" src="https://kissmanga.com/Content/images/loader.gif">
                <button id="txtFormat">Text</button>
                <button id="xmlFormat">XML</button>
                <button id="jsonFormat">JSON</button>
            </div>
            <div id="preview" class="fk-hide">
                <h2 class="exportTitle">Preview</h2>
                <div id="previewContent"></div>
                <a href="#" id="previewDownload">Download result</a>
            </div>
        </div>

        <script src="../Tools/jquery-3.1.1.min.js"></script>
        <script src="../Tools/lz-string.min.js"></script>
        <script src="../Scripts/Class/FreeKiss.js"></script>
        <script src="../Scripts/Class/Bookmarks.js"></script>
        <script src="../Scripts/FreeKiss/Export.js"></script>
    </body>
</html>
