<!doctype html>
<html>
  <head>
    <title>FreeKiss</title>
    <link rel="stylesheet" href="../Styles/Popup.css">
  </head>
  <body>
    
    <div id="container">

    	<div id="title">
    		<img src="../Images/Icons/icon128.png" width="50px" />
    	</div>

    	<div id="options">
	    	<table>
	    		<tr>
	    			<td>
	    				<a id="disable" href="#">Disable FreeKiss</a>
	    			</td>
	    		</tr>
	    		
	    		<tr>
	    			<td>
	    				<a href="#">Test</a>
	    			</td>
	    			<td>
	    				<a href="#">Test</a>
	    			</td>
	    		</tr>
	    	</table>
	    </div>

    </div>

    <script src="../Tools/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/Popup.js"></script>
  </body>
</html>
