<!doctype html>
<html>
  <head>
    <title>FreeKiss - Options</title>
    <link rel="stylesheet" href="../Styles/FreeKiss/Options.css">
  </head>
  <body>
    
    <div id="navigation">

    	<div id="title">
    		<img src="../Images/Icons/FreeKissTitle.png" width="220px" />
    	</div>
    	<ul>
    		<li class="selected"><a href="#">Advanced Options</a></li>
    		<li><a href="Export.html">Export Bookmarks</a></li>
    		<li><a href="Patchnotes.html">Patchnotes</a></li>
    	</ul>

    </div>

    <div id="content">
        <h1>Options</h1>
        <hr>
        <table id="options">
            <tbody>
                <tr>
                    <td><input type="checkbox" name="frontpageManager"></td>
                    <td>Add bookmarks management on KissManga frontpage.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="enhancedDisplay"></td>
                    <td>Enhance bookmarks page display.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="bookmarksSorting"></td>
                    <td>Sort bookmarks into 4 different categories: Unread, Reading, OnHold and Completed.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../Tools/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/Class/FreeKiss.js"></script>
    <script src="../Scripts/FreeKiss/Options.js"></script>
  </body>
</html>
