<!doctype html>
<html>
  <head>
    <title>FreeKiss - Options</title>
    <link rel="stylesheet" href="../Styles/FreeKiss/Options.css">
  </head>
  <body>
    
    <div id="navigation">

    	<div id="title">
    		<img src="../Images/Icons/FreeKissTitle.png" width="220px" />
    	</div>
    	<ul>
    		<li class="selected"><a href="#">Advanced Options</a></li>
    		<li><a href="Export.html">Export Bookmarks</a></li>
    		<li><a href="Patchnotes.html">Patchnotes</a></li>
    	</ul>

    </div>

    <div id="content">
        <h1>Options</h1>
        <hr>
        <table id="options">
            <tbody>
                <tr>
                    <td><input type="checkbox" name="enhancedDisplay"></td>
                    <td>Enhance bookmarks page display.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="bookmarksSorting"></td>
                    <td>Add status to bookmarks. (Default, On Hold, Plan To Read)</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="showComments"></td>
                    <td>Automatically show comments on chapters page.</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="showUnreadOnIcon"></td>
                    <td>Display the amount of unread chapters on FreeKiss' icon (even when not on KissManga).</td>
                </tr>
                <tr class="showUnreadDependent fk-hide">
                    <td></td>
                    <td>Refresh every 
                        <select name="showUnreadRefreshRate" id="refreshRate">
                            <option value=5>5 minutes</option>
                            <option value=10>10 minutes</option>
                            <option value=30 selected="selected">30 minutes</option>
                            <option value=60>1 hour</option>
                            <option value=120>2 hours</option>
                        </select>
                        <div class="newFeature">
                            This option is a new feature. If you encounter any problem, you can report it on the <a href="https://chrome.google.com/webstore/detail/freekiss/jpndbkdfegaeebeehdmngbedkkchhflh/support">webstore support page</a>.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table id="managerOptions">
                            <thead>
                                <tr>
                                    <th colspan="6">Bookmarks manager disponibility</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td><input type="checkbox" name="frontpageManager"></td>
                                <td>Frontpage</td>
                                <td><input type="checkbox" name="mangaManager"></td>
                                <td>Mangas</td>
                                <td><input type="checkbox" name="chapterManager"></td>
                                <td>Chapters</td>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../Tools/jquery-3.1.1.min.js"></script>
    <script src="../Tools/lz-string.min.js"></script>
    <script src="../Scripts/Class/FreeKiss.js"></script>
    <script src="../Scripts/FreeKiss/Options.js"></script>
  </body>
</html>
