<!doctype html>
<html>
  <head>
    <title>FreeKiss - Patchnotes</title>
    <link rel="stylesheet" href="../Styles/FreeKiss/Options.css">
  </head>
  <body>
    
    <div id="navigation">

    	<div id="title">
    		<img src="../Images/Icons/FreeKissTitle.png" width="220px" />
    	</div>
    	<ul>
    		<li><a href="Options.html">Advanced Options</a></li>
    		<li><a href="Export.html">Export Bookmarks</a></li>
    		<li class="selected"><a href="#">Patchnotes</a></li>
    	</ul>

    </div>

    <div id="content">
        <h1>Versions</h1>
        <hr>
        <div class="patch">
            <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v1.2.4">1.2.4</a></h2>
            <ul>
                <li>Harmful onclick ads providers on KissManga are probably related to Hydra. Kill one and two new ones appear. Trying a new method to get rid of them (hopefully for good).</li>
            </ul>
        </div>
        <div class="patch">
            <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v1.2.3">1.2.3</a></h2>
            <ul>
                <li>Tried to remove the on-click ads provider with random urls. Not sure it will work for everyone, this will have to be monitored.</li>
            </ul>
        </div>
        <div class="patch">
            <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v1.2.2">1.2.2</a></h2>
            <ul>
                <li>Add Cobalten to the list of blocked ads provider.</li>
            </ul>
        </div>
        <div class="patch">
            <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v1.2.1">1.2.1</a></h2>
            <ul>
                <li>FreeKiss now blocks harmful onclick ads popups as they are sadly a thing on KissManga. (Deloton blocked)</li>
            </ul>
        </div>
        <div class="patch">
            <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v1.2.0">1.2.0</a></h2>
            <ul>
                <li>
                    Add an option to display the number of unread bookmarks on FreeKiss' icon.<br>
                    <span class="suggestion">(Thanks to J. A.C. for this suggestion)</span>
                </li>
                <li>Add customizable refresh time for the unread counter (predefined choices).</li>
                <li>Add a link to the bookmarks page on FreeKiss' popup when unread chapters are detected.</li>
            </ul>
        </div>
        <div class="patch">
            <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v1.0.1">1.0.1</a></h2>
            <ul>
                <li>Fix frontpage's carousel fetching the wrong mangas to display.</li>
            </ul>
        </div>
        <div class="patch">
            <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v1.0.0">1.0.0</a></h2>
            <ul>
                <li>FreeKiss official release !</li>
            </ul>
        </div>
        <a id="showPreRelease">Show pre-release patchnotes</a>
        <div id="preRelease" class="fk-hide">
            <div class="patch">
                <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v0.8.1">0.8.1</a></h2>
                <ul>
                    <li>Change bookmarks status encoding in storage to valid UTF16 only.</li>
                    <li>Correct bookmarks count display on bookmarks page when loading on a category other than #Reading.</li>
                </ul>
            </div>
            <div class="patch">
                <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v0.8.0">0.8.0</a></h2>
                <ul>
                    <li>Add the export option. Export formats available are plain text, XML and JSON.</li>
                    <li>Add total mangas on the bookmarks page.</li>
                    <li>Correct status displayer not displaying after the 10 first blocks of the scrolling mangas on the frontpage.</li>
                </ul>
            </div>
            <div class="patch">
                <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v0.7.0">0.7.0</a></h2>
                <ul>
                    <li>Mangas status are now compressed with lz-string and sync with your google account.</li>
                    <li>Bookmarks status on managers now have a popup display to select the status.</li>
                    <li>Add new "Plan to read" status.</li>
                    <li>Bookmarks managers are now on the bookmarks page.</li>
                    <li>Rework bookmarks page mutations (lot cleaner, tiny bit more optimized).</li>
                    <li>Change advanced options display to be more compact and less repetitive.</li>
                </ul>
            </div>
            <div class="patch">
                <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v0.6.0">0.6.0</a></h2>
                <ul>
                    <li>The bookmarks managers can now add mangas to the bookmarks list.</li> 
                    <li>Add a bookmarks manager on the mangas summary.</li>
                    <li>Add a bookmarks manager on the mangas chapters.</li>
                    <li>Any FreeKiss bookmarks manager can be toggled on/off in the advanced options.</li>
                </ul>
            </div>
            <div class="patch">
                <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v0.5.0">0.5.0</a></h2>
                <ul>
                    <li>On the Bookmarks page, bookmarks can now be sorted into four different tabs: Unread, Reading, On Hold and Completed.</li>
                    <li>Add local mangas status management (only "On Hold" at the moment).</li>
                    <li>Bookmarks sorting option adds a button to mark bookmarks as "On Hold".</li>
                    <li>Bookmarks "On Hold" status can also be managed from KissManga frontpage if the "Frontpage Management" option has been enabled.</li>
                    <li>Bookmarks sorting can be toggled on/off in the advanced options.</li>
                </ul>
            </div>
            <div class="patch">
                <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v0.4.0">0.4.0</a></h2>
                <ul>
                    <li>Add FreeKiss "Advanced Options" page.</li>
                    <li>Frontpage bookmarks managers can be toggled on/off in the advanced options.</li>
                    <li>Enhanced bookmarks display can be toggled on/off in the advanced options.</li>
                    <li>Add FreeKiss "Export Bookmarks" page (placeholder).</li>
                    <li>Add FreeKiss "Patchnotes" page.</li>
                </ul>
            </div>
            <div class="patch">
                <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v0.3.0">0.3.0</a></h2>
                <ul>
                    <li>Bookmarks can now be managed from the frontpage.</li>
                    <li>Add manager on the mangas in the scrolling bar.</li>
                    <li>Add manager on the "New mangas" section.</li>
                    <li>Add manager on the "Most popular mangas" section.</li>
                    <li>Remove image tag for bookmarked mangas (mangas are now seen as bookmarked with the manager).</li>
                </ul>
            </div>
            <div class="patch">
                <h2><a href="https://github.com/Gerardufoin/FreeKiss/releases/tag/v0.2.0">0.2.0</a></h2>
                <ul>
                    <li>Add image tag on the bookmarked mangas of the frontpage.</li>
                    <li>Add FreeKiss options menu.</li>
                    <li>Add minimum width of a chapter's page setting.</li>
                    <li>Add maximum width of a chapter's page setting.</li>
                    <li>Add enabling/disabling of the two previous settings.</li>
                    <li>Add FreeKiss disabling setting.</li>
                </ul>
            </div>
            <div class="patch">
                <h2 class="disabled">0.1.0</h2>
                <ul>
                    <li>Creation of FreeKiss.</li>
                    <li>Revamp bookmarks page design.</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../Tools/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/FreeKiss/Patchnotes.js"></script>
  </body>
</html>
