#fk-bookmarks table {
	width: 100%;
	border-collapse: collapse;
}

.fk-notEnhanced tr {
	height: 25px;
}

.fk-notEnhanced th {
	border-bottom: 1px solid #DDD2A4;
	font-size: 120%;
}

.fk-notEnhanced tbody tr:nth-child(odd) {
	background-color: #161616;
}

#fk-bookmarksNavigation {
	margin-bottom: 15px;
	height: 31px;
	padding-left: 5px;
	border-bottom: 1px solid #696969;
}

#fk-bookmarksNavigation a {
	user-select: none;
	display: inline-block;
	width: 130px;
	height: 30px;
	margin-right: 4px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	border: 1px solid #424242;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	background-color: #242424;
	cursor: pointer;
	color: white;
}

#fk-bookmarksNavigation .fk-selected {
	font-weight: bold;
	cursor: default;
	border-color: #696969;
	border-bottom: 1px solid #161616;
	background: linear-gradient(#242424, #151515);
}

#fk-nbMangasDisplay {
	float: right;
	margin-right: 15px;
	height: 30px;
	line-height: 30px;
}

#fk-nbMangas {
	font-weight: bold;
}

.fk-noGuidelines {
	width: 830px !important;
	float: none !important;
}

.fk-guidelinesTitle {
	cursor: pointer;
}

tr td:last-child, tr th:last-child {
	text-align: center;
}

.fk-bookmarkHeader {
	display: block;
	margin-bottom: 17px;
}

.fk-bookmarkHeader th {
	width: 100% !important;
	display: block;
	font-size: 20px !important;
	line-height: 25px;
}

.fk-bookmarkRow {
	display: inline-block;
	min-height: 215px;
	height: 224px !important;
	width: 150px !important;
	text-align: center;

	margin: 0px 5px 15px 5px;
	background-color: #292929 !important;
}

.fk-bookmarkRow:hover td {
	background-color: initial !important;
}

.fk-bookmarkRow:hover {
	background-color: #494949 !important;
}

.fk-bookmarkTitle {
	display: block;
	overflow: hidden;
	height: 168px;
	margin-top: 8px;
}

.fk-bookmarkTitle-imgLink {
	display: block;
	margin-bottom: 2px;
}

.fk-bookmarkChapter {
	display: block;
	overflow: hidden;
	height: 19px;
}

.fk-bookmarkStatus {
	display: table;
	width: 100%;
}

.fk-bookmarkImage {
	width: 130px;
	height: 150px;
}