.fk-hide {
	display: none !important;
}

.fk-makeRelative {
	position: relative;
	float: none !important;
}

.fk-management {
	display: inline-block;
	width: 135px !important;
	height: 20px;
	text-align: center;
	float: none !important;
}

.fk-submenuManagement {
	background-color: inherit !important;
	position: absolute;
	left: 105px;
	bottom: 0px;
	text-align: left;
}

.fk-management a {
	width: 20px !important;
	height: 20px !important;
	display: inline-block;
}

.fk-management img {
	border: none !important;
}

.fk-bookmarkManagement, .fk-statusManagement, .fk-mangaManagement, .fk-addMangaManagement {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.fk-management a {
	cursor: pointer
}