.fk-hide {
	display: none !important;
}

.fk-makeRelative {
	position: relative;
	float: none !important;
}

.fk-management {
	display: inline-block;
	width: 135px !important;
	height: 20px;
	text-align: center;
	position: relative;
	float: none !important;
}

.fk-submenuManagement {
	background-color: inherit !important;
	position: absolute;
	left: 105px;
	bottom: 0px;
	text-align: left;
}

.fk-management a {
	width: 20px !important;
	height: 20px !important;
	display: inline-block;
}

.fk-management img {
	border: none !important;
	vertical-align: middle;
}

.fk-imgHelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.fk-bookmarkManagement, .fk-statusManagement, .fk-mangaManagement, .fk-addMangaManagement {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.fk-management a {
	cursor: pointer
}

.fk-statusSubMenu {
	position: absolute;
	line-height: normal;
	height: 17px;
	width: 50%;
	left: 24%;
	top: 0px;
	background-color: rgba(46, 46, 47, 0.9);
	border: 1px solid rgba(67, 67, 67, 0.9);
	border-radius: 2px;
}

.fk-statusSubMenu a {
	display: inline-block !important;
	height: 100% !important;
	float: none !important;
	margin: 0px !important;
}