.fk-makeRelative {
	position: relative;
}

.fk-notification {
	position: absolute;
	height: 32px;
	width: 32px;
	border: none !important;
}

.fk-scrollableBookmarkNotification {
	left: 2px;
	top: 1px;
}

.fk-submenuBookmarkNotification {
	left: -105px;
	top: -4px;
}
