.fk-notification {
	position: absolute;
	height: 32px;
	width: 32px;
	border: none !important;
}

.fk-scrollableBookmarkNotification {
	left: 2px;
	top: 1px;
}

.fk-submenuBookmarkNotification {
	left: -105px;
	top: -4px;
}

.fk-scrollable {
	margin-top: -12px;
	height: 210px !important;
}

.fk-onHoldDisplay {
	position: absolute;
	width: 130px;
	height: 150px;
	top: 1px;
	left: 2px;
	line-height: 150px;
	font-size: 30px;
	font-weight: bold;
	color: rgba(230, 230, 230, 0.7);
	background-color: rgba(10, 10, 10, 0.7);
}

.fk-onHoldSubdisplay {
	position: absolute;
	padding: 0 !important;
	width: 80px !important;
	height: 100px;
	top: 12px;
	left: 12px;
	line-height: 100px !important;
	font-size: 18px !important;
	font-weight: bold !important;
	text-align: center;
	color: rgba(230, 230, 230, 0.7);
	background-color: rgba(10, 10, 10, 0.7) !important;
}